body {
  background-color: rgba(176, 146, 179, 1);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Noto Sans", sans-serif;
}
footer {
  border-top: 1px solid rgba(76, 61, 112, 0.146);
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
}
a {
  color: rgba(76, 61, 112, 0.779);
}
main {
  padding: 30px 0;
}
strong {
  color: rgba(104, 49, 143, 0.779);
  font-weight: 500;
}
.weather-app {
  background-color: #dcd5db;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 600px;
  padding: 25px;
  box-shadow: 0 30px 50px rgba(76, 61, 112, 0.779);
  border-radius: 20px;
}
.weather-forecast {
  margin-top: 20px;
  color: #000;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.row {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}
.col-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.temperature-container {
  text-align: center;
}
.weather-forecast-temperature-min,
.weather-forecast-temperature-max {
  display: inline-block;
}
.weather-forecast-day {
  font-size: 16px;
  text-align: center;
}
.weather-forecast-day,
img {
  width: 60px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-app-temp-container {
  display: flex;
  margin-top: 10px;
}
.weather-app-temp {
  font-size: 75px;
  font-weight: bold;
}
.weather-app-icon {
  margin: 0 auto;
}
.weather-app-unit {
  margin-top: 15px;
  font-size: 25px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 25px;
  color: rgba(76, 61, 112, 0.559);
}

.search-form-input {
  background-color: rgba(176, 146, 179, 1);
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  margin-left: 11px;
}
.search-form-submit {
  background-color: rgba(76, 61, 112, 0.779);
  color: #dcd5db;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px;
  margin-left: 15px;
}
